@media (hover: hover) {
  a:hover {
    color: #fff;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 8rem;
  }
  main #main_view .inner {
    flex-direction: column;
  }
  main #skills .skills_intro .skills_title {
    font-size: 3rem;
  }
  main #skills .skills_content .design_skill {
    flex-basis: 40%;
  }
  main #skills .skills_content .dev_skill {
    flex-basis: 40%;
  }
  main #skills .tools ul {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(2, 110px);
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 5rem;
  }
  main #main_view .intro .intro_title {
    font-size: 1rem;
  }
  main #main_view .intro .intro_title .intro_gradient {
    font-size: 3.5rem;
  }
  main #main_view .intro .intro_content {
    font-size: 0.875rem;
  }
  main #main_view .intro_image {
    margin-bottom: 40px;
  }
  main #main_view .intro_image .computer_coding {
    width: 250px;
    height: 250px;
  }
  main #main_view .intro_image .computer_coding .coding {
    top: 65px;
    right: 30px;
    width: 70px;
    height: 60px;
  }
  main #main_view .intro_image .computer_coding .window {
    display: none;
  }
  main #skills .skills_intro {
    margin-top: -20px;
  }
  main #skills .skills_intro .skills_title {
    font-size: 1.75rem;
  }
  main #skills .skills_content {
    flex-direction: column;
    gap: 40px;
    margin: 40px 0 60px;
  }
  main #skills .tools ul {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(2, 70px);
    gap: 16px;
  }
  main #skills .tools ul li img {
    padding: 0;
    width: 70px;
    height: 70px;
  }
  main #works h2 {
    margin: 0;
  }
  main #works .project {
    width: calc(100% - 40px);
    flex-direction: column;
    height: 450px;
    padding: 20px;
    border-radius: 0 100px 0 0;
    margin: 0 0 60px;
  }
  main #works .project .project_image {
    order: 1;
    width: 100%;
  }
  main #works .project .project_content {
    padding: 0;
  }
  main #works .project .project_content .project_subject {
    margin: 0;
  }
  main #works .project .project_content .project_subject .project_title {
    font-size: 1.75rem;
  }
  main #works .project .project_content .project_process {
    margin: 20px 0;
    font-size: 0.875rem;
  }
  main #works .project .project_content .project_process h4 {
    width: 72px;
  }
  main #works .project:nth-child(even) {
    border-radius: 0 100px 0 0;
  }
  main #works .project:nth-child(even) .project_number {
    right: 0;
    text-align: end;
  }
  footer {
    font-size: 0.875rem;
  }
}