@import "./mixins.scss";


/* COMMON */

html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	background: $bg-color;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

section {
	padding-top: 80px;
	&:first-child {
		padding-top:0;
	}
}

.inner {
	position: relative;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color .4s;
}

.btn {
	padding: 10px 16px;
	background-color: inherit;
	color: $mint;
	border: 1px solid $mint;
	box-sizing: border-box;
	font-size: 0.875rem;
	cursor: pointer;
	transition: all .6s;
	a { font-weight: 500; }

	&:hover {
		color: $bg-color;
		background-color: $mint;
		a{ 
			color: $bg-color;
		}
	}
}

.btn.btn-reverse {
	border: 0;
	background-color: $mint;
	color: $bg-color;
	&:hover {
		background-color: darken($mint, 20%);
	}
}

.back-to-position {
	opacity: 0;
	transition: 1s;
}
.back-to-position.to-top {
	transform: translateY(150px);
}
.show .back-to-position {
	opacity: 1;
	transform: translateY(0);
}

.show .back-to-position.delay-0 {
	transition-delay: 0s;
}
.show .back-to-position.delay-1 {
	transition-delay: 0.2;
}
.show .back-to-position.delay-2 {
	transition-delay: .4s;
}
.show .back-to-position.delay-3 {
	transition-delay: .6s;
}
.show .back-to-position.delay-4 {
	transition-delay: .8s;
}
.show .back-to-position.delay-5 {
	transition-delay: 1s;
}
.show .back-to-position.delay-6 {
	transition-delay: 1.2s;
}
.show .back-to-position.delay-7 {
	transition-delay: 1.4s;
}


/* input, button 스타일 리셋코드*/
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}


/* FONT */
h2 {
	display: inline-block;
	text-transform: uppercase;
	-webkit-text-stroke: 1px rgba($mint, .5);
	color: transparent;
	font: {
		size:9rem;
		weight: 900;
	}
}

h4{
	font: {
		size: 1rem;
		weight: 500;
	}
	color: $mint;
	letter-spacing: 0.5rem;
	line-height: 2;
	text-transform: uppercase;
}



/* hedear */
header {
	width:100%;
	height: 72px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.inner {
		@include flex-row {
			justify-content: space-between;
			align-items: center;
		}
		height: 100%;
	}

	.logo {
		width: 36px;
		height: 24px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.main_menu {
		ul {
			@include flex-row {
				align-items: center;
			}
			li {
				color: $grey;
				padding: 20px 0 ;
				&.active {
					color: $mint;
				}
			}
		}
	}

	&.sticky {
		background: $bg-color;
		box-shadow: 0 2px 6px rgba(#000, .15);
	}
}


/* FOOTER */
footer {
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
	font: {
		weight: 100;
	}
	color: $grey;
}