@import "./mixins.scss";


/* 애니메이션 효과 모음 */
@keyframes loop_designTool {
	0% { content:" Photoshop "; color: $purple;}
	20% { content:" Photoshop "; color: $purple;}
	25% { content:" Illustration "; color: Orange;}
	45% { content:" Illustration "; color: Orange;}
	50% { content:" AdobeXD "; color: $purple;}
	70% { content:" AdobeXD "; color: $purple;}
	75% { content:" Figma "; color: $dark_mint;}
	95% { content:" Figma "; color: $dark_mint;}
	100% { content:" Photoshop "; color: $purple;}
}

@keyframes loop_devTool {
	0% { content:" HTML "; color: $dark_mint;}
	20% { content:" HTML "; color: $dark_mint;}
	25% { content:" CSS "; color: $purple;}
	45% { content:" CSS "; color: $purple;}
	50% { content:" SCSS "; color: Hotpink;}
	70% { content:" SCSS "; color: Hotpink;}
	75% { content:" JS "; color: Gold;}
	95% { content:" JS "; color: Gold;}
	100% { content:" HTML "; color: $dark_mint;}
}

@keyframes loop_code {
	0% { transform: translateY(0); transform: skew(0 30deg); }
	100% { transform: translateY(-100%);  transform: skew(0 30deg);}
}

@keyframes loop_scroll_down {
	0% {transform: translateY(0); height: 0;}
	50% {transform: translateY(50%); height: 50%;}
	100% {transform: translateY(100%); height: 100%;}
}

@keyframes rotate_gradient {
  from { background-position:left; }
  to   { background-position:right; }
}

@keyframes preview_site {
	0% {transform:  translateY(0);}
	80% {transform:  translateY(calc(-100% + 300px));}
	100% {transform:  translateY(calc(-100% + 300px));}
}


/* MAIN */
#main_view {
//	margin-top: 72px;
	height: calc(100vh - 72px);
	.inner {
		height: 100%;
		@include flex-row {
			justify-content: space-between;
		}
	}

	.intro {
		flex-basis: 50%;
		margin-top: 10%;
		.intro_title {
			letter-spacing: 0.25rem;
			font: {
				size: 1.25rem;
				weight: 200;
			}
			.intro_gradient {
				display:inline-block;
				font: {
					size: 5rem;
					weight: 700;
				}
				line-height: 1.6;
				@include gradient_clip;
				animation: rotate_gradient 4s infinite alternate;
			}
		}

		.intro_content {
			font: {
				size: 1rem;
				weight: 500;
			}
			color: $mint;
			letter-spacing: 0.5rem;
			line-height: 2;
			text-transform: uppercase;
		}
		
		.btn {
			margin-top: 40px;
		}

	}

	.intro_image {
		flex-basis: 50%;
		align-self: flex-end;
		margin-bottom: 80px;

		.computer_coding {
			width: 300px;
			height: 330px;
			position: relative;
			float: right;

			.coding {
				position: absolute;
				top: 85px;
				right: 35px;
				width: 80px;
				height: 65px;
				overflow: hidden;
				transform: skewY(30deg);
				
				&::before{
					content: url('../images/coding.svg');
					display: block;
					width: 100%;
					animation: loop_code 25s infinite linear;
				}
			}

			.window {
				position: absolute;
				top: -80px;
				left: 80px;
				z-index: -1;
				width: 100px;
				height: 160px;
				transform: skewY(30deg);
				border: 6px solid rgba(#000, .4);
				border-radius: 100px 100px 0 0;
				@include gradient_clip {
					background-clip: border-box;
				}
				animation: rotate_gradient 8s infinite alternate;

			}
		}
	}


	.scroll_down {
		.scroll_line {
			width: 1px;
			height: 320px;
			overflow: hidden;
			position: absolute;
			left: 0;
			bottom: -80px;
			margin-left: 20px;
			background-color: #434343;
	
			&:before {
				content:'';
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba($mint, .5);
				animation: 'loop_scroll_down' 5s infinite ease-in-out; 
			}
		}
	}
}/* .main_view */

#skills {
	.skills_intro {
		margin-top: -100px;

		.skills_title {
			font: {
				size: 3rem;
				weight: 600;
			}
			line-height: 1.2;
			text-align: center;

			.design_tool:after {
				content: "";
				animation: "loop_designTool" 8s infinite linear;
				}

			.dev_tool:after {
				content: "";
				animation: "loop_devTool" 8s infinite linear;
			}
		}
	}

	.skills_content {
		@include flex-row {
			justify-content: center;
			gap: 80px;
		}
		margin: 60px 0 80px;

		h4{
			margin:0 0 10px 10px;
		}
		.design_skill { flex-basis : 25%; }
		.dev_skill { flex-basis: 25%; }

		li {
			color: $lightgrey;
			word-break: keep-all;
			line-height: 1.5rem;
			text-indent: -1.25em;
			margin-left: 2em;
			margin-bottom: 10px;

			&::before {
				content: '✓';
				display: inline-block;
				width: 20px;
				font-size: 1.25rem;
				color: $mint;
				text-indent: 0;
				margin-left: 0;
			}
		}
	}

	.tools {
		margin-bottom: 80px;
		ul {
			@include flex-row {
				justify-content: center;
			}
			li {
				img {
					padding: 15px;
					border: 1px solid rgba($mint, .5);
					box-sizing: border-box;
				}
			}
		}
	}
}/* SKILLS END */

#works {
	.inner {
		margin: 0 auto;
	}
	h2 {
		margin: 0 20px 0 0;
		float: right;
	}
	.project {
		@include flex-row {
			justify-content: flex-start;
		}
		position: relative;
		width: 90%;
		max-width: 1000px;
		height: 300px;
		padding: 30px;
		border: 1px solid rgba($mint, .5);
		border-radius: 0 130px 0 0;
		background-color: $bg-color;
		margin: 0 auto 80px;

		.project_number {
			position: absolute;
			top:0;
			right: 0;
			z-index: -1;
			color: $mint;
			line-height: 1;
			font: {
				size: 3rem;
				weight: 800;
				style: italic;
			}
		}
		.project_image {
			flex-basis: 55%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.project_content {
			flex-basis: 35%;
			padding: 0 20px;
			.project_subject{
				margin: 20px 0;
				.project_title {
					font: {
						size: 2rem;
						weight: 800;
					}
				}
			}
			.project_process {
				margin-bottom: 40px;
				h4 {
					width: 20%;
					display: inline-block;
					letter-spacing: 0;
				}
				.project_cate {
					text-transform: uppercase;
				}
			}
		}

		/* 프로젝트 짝수 스타일 */
		&:nth-child(even) {
			justify-content: flex-end;
			border-radius: 140px 0 0 0;
			.project_number {
				left: 0;
			}
			.project_image {
				order: 2;
			}
		}

		&:hover {
			.project_image{
				img{
					animation: preview_site 20s linear;
				}
			}
		}
	}
}/* WORKS END */



